<!DOCTYPE html>
<html>
<body>
    <h1> スコアを入れる</h1>
<form method="POST" action=".">
    スコア1<input type="text" name="score1" /><br>
    スコア2<input type="text" name="score2" /><br>
    スコア3<input type="text" name="score3" /><br>
    <input type="submit" value="送信" />
</form>
</body> 
</html>